 .portfolio {
     text-decoration: none;
     color: #E63C1F; 
     font-size: 1.3rem;
     font-weight: 800;
     font-family: 'Rubik', sans-serif;
 }

 .portfolio:hover{
    color:#362A23;
 }
 .portfolio-links a{
    display: block;
 }

 .portfolio-links {
     align-items: center;
     display: flex;
     flex-direction: row;
 }

 .portfolio-icon {
    height: 50px;
    width: auto;
    fill: #E63C1F;
}

.portfolio-icon:hover {
    fill: #362A23;
}

 #about-me {
    background-color:rgba(240, 237, 235, 0.892);
    mix-blend-mode: multiply;
    padding : 20px;
}



@media screen and (max-width: 960px) {
    
    .about-me {
        display: flex;
        flex-direction: column;
        align-content: flex-start; 
        justify-content: center;
        padding: 0 5px 20px 5px;
    }
    
    .photographer {
        display: block;
        float: left;
        object-fit: cover;
        width: 70%;
        max-width: 400px;
        height: auto;
        margin:auto;
    }

    .biography {
        display: inline-block;
        width: 90;
    }

    .biography p{
        text-align: justify;
    }
    .portfolio {
        font-size: 1.7rem;
    }


    .portfolio-links {
        justify-content: center;
    }
}

@media screen and (min-width: 961px) {
    
    .about-me {
        display: flex;
        flex-direction: row;
        align-content: flex-start; 
        justify-content: center;
        padding: 0 20px 50px 20px;
    }
    
    .photographer {
        display: block;
        object-fit: cover;
        width: 32%;
        max-width: 400px;
        height: auto;
        margin-right: 2em;
    }

    .biography {
        display: inline-block;
        width: 64%;
    }

    .biography p{
        text-align: justify;
    }

   
}