 .portfolio {
     text-decoration: none;
     color: #E63C1F; 
     font-size: 1.3rem;
     font-weight: 800;
     font-family: 'Rubik', sans-serif;
 }

 .portfolio-links a{
    display: block;
 }

 .portfolio-links {
     align-items: center;
     display: flex;
     flex-direction: row;
     margin-bottom: 20px;
 }


@media screen and (max-width: 960px) {
    #about_me {
        align-items: center;
        width: 80%;
        margin: auto;
    }
    .about_me_ .photographer {
        width:200px;
        height: auto;
        float: left;
        margin-right: 5px;
    }

    .portfolio {
        font-size: 1.7rem;
    }
    .icons {
        height: 50px;
        width: auto;
    }
    .portfolio-links {
        justify-content: center;
    }
}

@media screen and (min-width: 961px) {
    #about_me {
        width: 80%;
        margin: 50px auto 50px  auto ;
    }
    .about_me_ .photographer {
        width:200px;
        height: auto;
        float: left;
        margin-right: 22px;
    }
    .icons {
        height: 50px;
        width: auto;
    }
    #about_me .red-title {
        padding-bottom: 10px;
    }

   
}