.bannerdesktop {
    background-image: url(assets/pictures/banner.png);
    position: relative;
    width: 100%;
    min-height: 60vw;
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: -100px;
}

#logodesktopbanner {
    width: 20vw;
    height: auto;
    position: absolute;
    bottom: -8%;
    transform: rotate(340deg);
    margin-left: 12%;
}

.videomap {
    width: 90%;
    display: flex;
    justify-content: space-around;
    margin: auto;
    margin-top: 7%;
    margin-bottom: 2%;
}

#tallvideo {
    margin-right: 10px;
}

#tallmap {
    margin-left: 10px;
}

h2 {
    display: flex;
    justify-content: center;
}

article {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    margin-top: 5%;
    margin-left: 10%;
}

@media screen and (max-width:961px) {
    .bannerdesktop {
        margin-top: -40px;
    }
    #logodesktopbanner {
        width: 25vw;
        height: auto;
        margin-left: 7%;
        bottom: -12%;
    }
    #textepres {
        margin-top: 3px;
    }
    .videomap {
        display: flex;
        flex-direction: column;
        width: 90%;
        height: auto;
    }
    #tallvideo {
        margin: 0 0 20px 0;
        width: 100%;
        height: auto;
        min-height: 350px;
    }
    #tallmap {
        margin: 0;
        width: 100%;
        min-height: 350px;
        height: auto;
    }
}