

/*Button CSS Darkmode*/
    /* .slideThree */
.slideThree {
    width: 160px;
    height: 52px;
    background: #333;
    position: fixed;
    right: 0.3%;
    bottom: 0.3%;
    border-radius: 50px;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.2);
  }

  .slideThree:after {
    content: 'WILD';
    color: rgba(87, 115, 255, 0.892);
    position: absolute;
    right: 20px;
    z-index: 0;
    font: 20px/45px Arial, sans-serif;
    font-weight: bold;
    text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.15);
    padding-top: 3%;
  }
  .slideThree:before {
    content: 'OFF';
    color:#E63C1F;
    position: absolute;
    left: 20px;
    z-index: 0;
    font: 20px/45px Arial, sans-serif;
    font-weight: bold;
    padding-top: 3%;
  }
  .slideThree label {
    display: block; 
    width: 68px;
    height: 40px;
    cursor: pointer;
    position: absolute;
    top: 6px;
    left: 6px;
    z-index: 1;
    background: #fcfff4;
    background-color:  #fcfff4 ;
    border-radius: 50px;
    transition: all 0.4s ease;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
  }
  .slideThree input[type=checkbox] {
    visibility: hidden;
  }
  .slideThree input[type=checkbox]:checked + label {
    left: 86px;
  }

  @media screen and (max-width : 960px){
    .slideThree {

        width: 160px;
        height: 52px;
        right: 1%;
        bottom: 9.5%;
      }
  }