

#slider {
    overflow: hidden;
    z-index: 0;
}

#slider .slider-container {
    position: relative; 
    width: 1000%;
    height: auto;
    margin: 0;
    padding: 0;   
    text-align: left;
    font-size: 0;
    left: 0;
    animation: 15s slidy infinite;
  }

#slider .slider-container img {
    width: 10%;
    height: auto;
    float: left;
}


@keyframes slidy {
    0% { left: 0%; }
	9% { left: 0%; }
    11.1% { left: -100%; }
    20.1% { left: -100%; }
    22.2% { left: -200%; }
    31.2% { left: -200%; }
    33.3% { left: -300%; }
    42.3% { left: -300%; }
	44.4% { left: -400%; }
	53.4% { left: -400%; }
	55.5% { left: -500%; }
    64.5% { left: -500%; }
	66.6% { left: -600%; }
	75.6% { left: -600%; }
	77.7% { left: -700%; }
	88.7% { left: -700%; }
    90.8% { left: -800%; }
    98% { left: -800%; }
    100% { left: -900%; }
}