/*//////////////////////////// Reset Parameters ////////////////////////////*/
* {
    padding:0;
    margin:0; 
    box-sizing: border-box;
 }

 p{
    margin-bottom: 25%;
 }

 iframe{
    width: 100%;
    border: none;
    margin-bottom: 3%;
}

h2 , h3{
    text-align: center;
    font-family: 'Rubik', sans-serif;
    color:#362A23;
    text-transform: uppercase;
}
 
h2 {
    font-size: 2.4rem;
    margin-bottom: 8%;
    margin-top: 5%;
}

h3 {
    font-size: 1.5em;
    letter-spacing: 3pt;
    margin-bottom: 3%;
    color:#E63C1F;
}

section{
    width: 95%;
    margin: auto;
}

img{
    max-width:100%;
    height: 100%;
}

/*//////////////////////////// Responsive ////////////////////////////*/

@media screen and (min-width:961px) {

    .imgETtxt{
        display: flex;
        margin-bottom: 15%;
    }

    .imgETtxt p{
        width: 70%;
        padding-left: 3%;
    }
    img{
        height: 100%;
        max-width: 100%;
    }

    .Fest-section{
        margin: auto;
        width: 70%;
    }
}
}
