/*////////////// STYLE GLOBAL ///////////////////*/

html, body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    background-image: url(assets/pictures/background.jpg);  
    background-size: cover;
 }
 
h2 {
    font-family: 'Rubik', sans-serif;
    color:#362A23;
    font-size: 2.4rem;
    text-transform: uppercase;
}

h3 {
    font-family: 'Rubik', sans-serif;
    color:#F0EDEB;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 1.5pt;
}

h3.red-title {
    font-family: 'Rubik', sans-serif;
    color:#E63C1F;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 1.5pt;
}
/*///////////////////////////////////////////////*/


@media screen and (max-width:960px) {
    html {
        font-size: 10px;
    }  
}

/*//////////////////////////////////////////////*/
/*///////////////////LOGO/////////////////////*/

@media screen and (max-width:960px) {
    .toplogo {
         max-width: 300px;
         width: 60%;
         height: auto;
    }
 
     .logocenter {
         display: flex;
         justify-content: center;
     }
 }
 
 

 @media screen and (min-width:961px) {     
    .toplogo {
         width: 30%;
         height: auto;
 }
 
     .logocenter {
         display: flex;
         justify-content: center;
         margin-bottom: 1vh;
     } 
 }
 
 
 /*//////////////////////////////////////////////*/
 /*//////////////////////////////////////////////*/



/*//////////////////////////////////////////////*/
/*///////////////////NAVBAR/////////////////////*/


.navblock{
    z-index: 100;
    width: 100%;
    margin :0;
}

.navg {
    width:80%;
    margin: auto;
    padding : 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
}

.navi {
    text-transform: uppercase; 
    text-decoration: none;
    font-family: 'Rubik', sans-serif; 
}



@media screen and (max-width:960px) {
   
    .navblock{
        padding: 10px 10px 10px 0;
        width: 100%;
        position: fixed;
        bottom: 0;
        background-color: #362A23;
    }

    .navi {
        font-size: 0.8rem;
        color: #F0EDEB;
        letter-spacing: 1.2pt;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80px;
        height: 100%;
    }

    .icon-nav {
        height: 30px;
        width: auto;
   }
    .navi:hover {
        opacity: 0.6;
    }

}


@media screen and (min-width:961px) {
  
    .navblock {
        position: sticky;
        top: 0;
        background-color: rgba(255, 255, 255, 0.712);
        height: 35px;
        display: flex;
        align-content: center;
    }

    .navi{
        font-size: 1.1rem;
        color: #362A23;
        letter-spacing: 1.9pt;
    }
 
    .icon-nav {
        display: none;
    }

    .navi:hover  {
        color: #E63C1F;
    }
 }

/*//////////////////////////////////////////////*/
/*//////////////////////////////////////////////*/



/*//////////////////////////////////////////////*/
/*///////////////////FOOTER/////////////////////*/

@media screen and (max-width: 960px){

    footer{
        background-color: #E63C1F;
        color: #F0EDEB;
        font-family: 'Roboto', sans-serif;
        width: 100%;
        padding-bottom: 60px;
    }
    
    

    .the_footer{
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    footer ul{
        list-style-type: none;
        padding: 0;
    }

    footer a{
        text-decoration: none;
        color: #F0EDEB;
       
    }

    footer li{
        margin: 10px;
        
    }

}

@media screen and (min-width: 961px){
    footer{
        background-color: #E63C1F;
        color: #F0EDEB;
        font-family: 'Roboto', sans-serif;
        width: 100%;
        padding-top: 25px;
        padding-bottom: 55px;
        margin-top: 2vw;
    }

  
    footer a{
        text-decoration: none;
        color: #F0EDEB;
    }

    .the_footer{
        display: flex;
        justify-content: space-around;     
    }

    footer ul{
        list-style-type: none;   
    }

    footer ul li{
        margin: 10px;    
    }
}

