
* {
    padding:0;
    margin:0; 
    box-sizing: border-box;
 }



 /*//////////////////////////// Style global ////////////////////////////*/


html, body {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    background-image: url(assets/pictures/background.jpg);  
    background-size: cover;
 }
 
h2 {
    font-family: 'Rubik', sans-serif;
    color:#362A23;
    font-size: 2.4rem;
    text-transform: uppercase;
    text-align: center;
    margin: 1.5em;
}

h3 {
    font-family: 'Rubik', sans-serif;
    color:#F0EDEB;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 1.5pt;
    text-align: center;
    margin: 1.5em;
}

h3.red-title {
    font-family: 'Rubik', sans-serif;
    color:#E63C1F;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 1.5pt;
}


@media (max-width:960px) {
    html {
        font-size: 10px;
    }
  
}



/*//////////////////////////////////////////////*/
/*///////////////////photos///////////////////////*/

section article{
    align-content: center;
    margin-bottom: 1em;
    padding:1em;
    border: 1px solid #000;
    border-radius: 15px;
}

img{
    width: 100%;
    height:auto;
}


@media screen and (max-width:960px){

    section article{
        display: flex;
        flex-direction: column;
        width: 80%;
        height: auto;
    }

    article{
        margin:auto;
        width:30%;
    }

    img, p{
        display: block;
        margin: auto;
        margin-bottom:10px;
    }

    img{
        width: 100%;
        height:auto;
    }


    p{
        text-align: center;
        justify-content: flex-start;
    }
}

@media screen and (min-width:961px){
    .firstplace{
        display: block;
        justify-content: space-evenly;
        margin: auto;
        width:20%;
        height: auto;
    }

    .secondplace{
        display: block;
        justify-content: space-between;
        margin: auto;
        width:20%;
        height:auto;
    }

    section .superdev .oneblock{
        display: flex;
        flex-direction: row;
        margin:1em;
        
    }


    .oneblock{
        display: flex;
        flex-direction: column;
    }

    section .teacher .thirdblock{
        display: flex;
        flex-direction: row;
    }
}
   