
html, body {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    background-image: var(--bgImage);  
    background-size: cover;
 }

 h2 {

    font-family: 'Rubik', sans-serif;
    color:#362A23;
    font-size: 2.4rem;
    text-transform: uppercase;
    text-align: center;}

h3 {
    font-family: 'Rubik', sans-serif;
    color:#F0EDEB;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 1.5pt;
    text-align: center;
}

h3.red-title {
    font-family: 'Rubik', sans-serif;
    color:#E63C1F;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 1.5pt;
}

h4, h5{
    text-align: center;
}

h4{
    font-size: 2rem;
    font-weight: bold;
}

h5{
    font-size: 1.5rem;
    margin-top: -1.2rem;
}

p{
    font-size: 1.2rem;
}

.brown{
    background-color: rgba(54, 42, 35, 0.877);
    mix-blend-mode: multiply;
    color:#F0EDEB;
    
}


.grey{
    background-color: rgba(240, 237, 235, 0.892);
    mix-blend-mode: multiply;
    color:#E63C1F;
}

section article img{
    mix-blend-mode: normal;
}


@media screen and (min-width:961px){
    .sectionTrombi{
        display: grid;
        grid-template-rows: 40px repeat(1, 1fr);

    }

    .oneblock, .teacher{
        display: grid;
        grid-template-columns:repeat(3, 1fr);
        grid-gap: 2rem; 
        justify-content: space-around;
    }
 
    article{
        justify-content: flex-start;
        display: flex;
        flex-direction: column;
        padding: 2rem;
    }

    article img{
        width: 100%;
        height:auto;
        object-fit:cover;
    }
}


@media screen and (max-width: 960px){

    .sectionTrombi{
        display: grid;
        grid-template-columns: 1fr;
    }

    .oneblock, .teacher{
        display: grid;
        grid-template-columns:1fr;
        grid-gap: 2rem; 
    }

    .firstplace{
        border: 5px solid #362A23;
        background-color: #F0EDEB;
    }

    article{
        justify-content: flex-start;
        display: flex;
        flex-direction: column;
        padding: 2rem;
        border: 5px, solid #362A23;
    }

    article img{
        width: 100%;
        height:auto;
        object-fit:cover;
    }
}

/*//////////////////////Dark mode////////////////////////*/

:root {
    --bgImage: url(assets/pictures/background.jpg);
    --fontColor: 
