* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/*////////////// STYLE GLOBAL ///////////////////*/

html,
body {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    background-image: url(assets/pictures/background.jpg);
    background-size: cover;
}

h2 {
    font-family: 'Rubik', sans-serif;
    color: #362A23;
    font-size: 2.4rem;
    text-transform: uppercase;
    text-align: center;
    margin: 1.5em;
}


/*//////////////////////////// photo ////////////////////////////*/

section h2 {
    margin-top: 2vw;
}

@media screen and (max-width: 960px) {
    .locaux {
        display: grid;
        grid-template-rows: 1fr;
    }
    .oneblock {
        display: grid;
        grid-template-rows: repeat(4, auto);
        grid-template-areas: "first" "second" "third" "fourth";
        grid-gap: 2rem;
    }
    .one {
        grid-area: first;
    }
    .two {
        grid-area: second;
    }
    .three {
        grid-area: third;
    }
    .four {
        grid-area: fourth;
    }
    /* article {
        margin: auto;
        width: 50%;
        height: auto;
    }*/
    /* .photoplace p {
        display: block;
    } */
    .photoplace {
        width: 100%;
        height: auto;
        object-fit: contain;
        margin-bottom: 1.2vw;
    }
    /* p {
        text-align: center;
        justify-content: flex-start;
    } */
}

.close {
    display: none;
}

@media screen and (min-width:961px) {
    .locaux {
        display: grid;
        grid-auto-rows: 1fr;
    }
    .oneblock {
        display: grid;
        grid-auto-columns: repeat(2, 1fr);
        grid-template-areas: "first second" "third fourth";
        grid-gap: 2rem;
    }
    .one {
        grid-area: first;
    }
    .two {
        grid-area: second;
    }
    .three {
        grid-area: third;
    }
    .four {
        grid-area: fourth;
    }
    .photoplace {
        width: 100%;
        height: auto;
        object-fit: contain;
    }
    /*article {
        display: block;
        justify-content: space-between;
        margin: auto;
        width: 50%;
    }
    section div {
        display: flex;
        flex-direction: row;
        margin-bottom: 1em;
        margin: 3em;
    }
    .oneblock article {
        display: flex;
        flex-direction: column;
        margin: auto;
    }*/
    h2 {
        margin: auto;
    }
    /* Style the Image Used to Trigger the Modal */
    #myImg {
        border-radius: 5px;
        cursor: pointer;
        transition: 0.3s;
    }
    #myImg:hover {
        opacity: 0.7;
    }
    /* The Modal (background) */
    .modal {
        display: none;
        /* Hidden by default */
        position: fixed;
        /* Stay in place */
        z-index: 100;
        /* Sit on top */
        padding-top: 100px;
        /* Location of the box */
        left: 0;
        top: 0;
        width: 100%;
        /* Full width */
        height: 100%;
        /* Full height */
        overflow: auto;
        /* Enable scroll if needed */
        background-color: rgb(0, 0, 0);
        /* Fallback color */
        background-color: rgba(0, 0, 0, 0.9);
        /* Black w/ opacity */
    }
    /* Modal Content (Image) */
    .modal-content {
        margin: auto;
        display: block;
        width: 80%;
        max-width: 700px;
    }
    /* Caption of Modal Image (Image Text) - Same Width as the Image */
    #caption {
        margin: auto;
        display: block;
        width: 80%;
        max-width: 700px;
        text-align: center;
        color: #ccc;
        padding: 10px 0;
        height: 150px;
    }
    /* Add Animation - Zoom in the Modal */
    .modal-content,
    #caption {
        animation-name: zoom;
        animation-duration: 0.6s;
    }
    @keyframes zoom {
        from {
            transform: scale(0)
        }
        to {
            transform: scale(1)
        }
    }
    /* The Close Button */
    .close {
        position: absolute;
        top: 15px;
        right: 35px;
        color: #f1f1f1;
        font-size: 40px;
        font-weight: bold;
        transition: 0.3s;
        display: block;
    }
    .close:hover,
    .close:focus {
        color: #bbb;
        text-decoration: none;
        cursor: pointer;
    }
    /* body.modal-open {
        overflow-y: hidden;
    } */
    /* 100% Image Width on Smaller Screens */
    /* @media only screen and (max-width: 700px) {
        .modal-content {
            width: 100%;
        } */
}